<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph</title>
</head>

<body>
    <div class="mainGraph">
        <div>
            <img src="/img/graph.png" alt="graph">
        </div>
    </div>
</body>

</html>