<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Students | <%=className %>
    </title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/principle/class.css">
    <link rel="stylesheet" href="/css/principle/student.css">
    <link rel="stylesheet" href="/css/popup.css">
    <script src="https://kit.fontawesome.com/c538c9717e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
    <input type="text" id="classID" hidden value="<%=classId%>">
    <div class="header">
        <i style="font-size: 20px; color: grey;" onclick="history.back()" class="fas fa-arrow-left"></i>
        <p id="headerTitle">
            Students
        </p>
        <%if(isPrinciple){%>
        <i onclick="addStudent()" style="font-size: 20px; color: grey;" class="fas fa-plus"></i>
        <%}else{%>
            <i onclick="location.href='/'" style="font-size: 20px; color: grey;" class="fas fa-house"></i>
        <%}%>
    </div>
    <div class="main">
        <div class="view">
            <!-- <form action="" class="search">
                <div>
                    <input type="text" name="student" id="student" placeholder="Search...">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form> -->
            <p class="totalStudent">Total Student: <span id="totalStudent">Loading...</span></p>
            <div class="classes">
                
            </div>
        </div>
    </div>
    <div id="popup" class="popup">
        
    </div>
    <script src="/js/common.js"></script>
    <script src="/js/principle/class.js"></script>
    <script src="/js/principle/student.js"></script>
</body>

</html>