<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principle</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/principle/home.css">
    <link rel="stylesheet" href="/css/popup.css">
    <script src="https://kit.fontawesome.com/c538c9717e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div class="header">
        <div class="topbar-right">
            <div class="line-container">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
            </div>
        </div>
        <p id="headerTitle">Classes</p>
        <button onclick="location.href='/logout'">Logout</button>
    </div>
    <div class="menu">
        <div class="menu-top">
            <div class="menu-search">
                <p>Admin Panel</p>
            </div>
        </div>
        <div class="menu-center">
            <div onclick="openPage(0)" class="menu-item">
                <i class="fa-solid fa-users-line"></i>
                <span>Classes</span>
            </div>
            <div onclick="openPage(1)" class="menu-item">
                <i class="fa-solid fa-user"></i>
                <span>Teachers</span>
            </div>
            <div onclick="openPage(2)" class="menu-item">
                <i class="fa-solid fa-calendar-days"></i>
                <span>Schedule</span>
            </div>
            <div onclick="openPage(3)" class="menu-item">
                <i class="fa-solid fa-bullhorn"></i>
                <span>Announcements</span>
            </div>
            <div class="menu-item">
                <i class="fa-solid fa-phone"></i>
                <span onclick="window.open('https://wa.me/7027513016')">Contact Us</span>
            </div>
        </div>
        <div class="menu-bottom">
            <div class="menu-bottom-user">
                <img src="<%=profile%>"
                    alt="">
                <span><%=username%></span>
            </div>
            <i class="far fa-question-circle"></i>
        </div>
    </div>
    <div class="main">
        <div class="view">
            <div class="addClass">
                <button id="createBtn">ADD Class</button>
            </div>
            <div class="classes">

            </div>
        </div>
    </div>
    <div id="popup" class="popup">
        <div class="popup-form">
            <div class="hidePopUp"><i onClick="closePopup()" class="fa-solid fa-xmark"></i></div>
            <form onreset="resetForm(this)" onSubmit="handleSubmit(event)" id="fileUploadForm">
                <label for="file">
                    <div>
                        <img id="demoImg" src="/img/upload_img.png" alt="">
                    </div>
                </label>
                <input onchange="handleFile(this)" type="file" id="file" name="file" accept=".jpg, .png, .pdf"
                    hidden><br><br>
                <input type="text" id="className" name="className" placeholder="Class Name" required><br><br>
                <div>
                    <button style="background:#ff4646;" type="reset">Reset</button>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/common.js"></script>
    <script src="/js/principle/home.js"></script>
</body>

</html>