<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Result | <%=className %>
    </title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/principle/class.css">
    <link rel="stylesheet" href="/css/principle/ebook.css">
    <link rel="stylesheet" href="/css/principle/result.css">
    <link rel="stylesheet" href="/css/popup.css">
    <script src="https://kit.fontawesome.com/c538c9717e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
    <input type="text" id="classID" hidden value="<%=classId%>">
    <div class="header">
        <i style="font-size: 20px; color: grey;" onclick="history.back()" class="fas fa-arrow-left"></i>
        <p id="headerTitle">
            <%=className %>
                <small>Result</small>
        </p>
        <i style="font-size: 20px; color: grey;" onclick="location.href='/'" class="fa-solid fa-house"></i>
    </div>
    <div class="main">
        <div class="view">
            <div class="classes">
                <div class="actionBtns">
                    <button class="bigBtn" onclick="loadSelectResult()">View Result</button>
                    <button class="bigBtn" onclick="showUploadResult()">Upload Result</button>
                </div>
            </div>
            <div id="selectResult">

            </div>
        </div>
    </div>
    <div id="popup" class="popup">

    </div>
    <script src="/js/common.js"></script>
    <script src="/js/principle/result.js"></script>
</body>

</html>