@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

.sWrongImg img {
    display: block;
    margin: auto;
    width: 50%;
}

.sWrongImg p {
    text-align: center;
    color: #38a1ff;
}

.sWrongRefresh {
    text-align: center;
    padding-top: 30px;
}
.hide{
    display: none !important;
}
.sWrongRefresh button,
.standardBtn button {
    width: 100px;
    height: 45px;
    border: none;
    outline: none;
    color: white;
    background: #f07979;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.sWrongInfo {
    margin-top: 40px;
    font-size: 12px;
    color: gray;
    display: block;
    margin: auto;
    width: fit-content;
}

.sWrongInfo span {
    color: black;
    font-size: 15px;
    display: block;
    padding: 30px 0 10px 0;
    text-align: center;
}


#fileUploadForm label {
    width: 100%;
    display: block;
}

#fileUploadForm label div {
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
}

#fileUploadForm label div img {
    width: 100%;
    height: 100%;
}

#fileUploadForm #className,
#fileUploadForm #email,
#fileUploadForm #dob,
#title, #fileUploadForm #password,#fileUploadForm #newPassword, #fileUploadForm #newPassword2,#fileUploadForm #subject,#fileUploadForm #doj,#fileUploadForm #phone,#fileUploadForm #department {
    width: 75%;
    font-size: 15px;
    border: none;
    background: #efefef;
    padding: 10px;
    outline: none;
    border-radius: 5px;
}

#fileUploadForm button,
.normalButton {
    border: none;
    font-size: 12px;
    outline: none;
    padding: 5px 15px;
    margin: 0 10px;
    color: white;
    background: #00aa00;
    border-radius: 5px;
}
 

.rotateMe {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
a{
    text-decoration: none;
}


i{
    cursor: pointer;
}



.animated-background {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
    background-size: 800px 104px; 
    position: relative;
    display: block;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -800px 0
    }

    100% {
        background-position: 800px 0
    }
}