.login_container {
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    background: #fff;
    border-radius: 0.25rem;
}

.login {
    transform: scale(0.85);
}

#form-1 {
    position: relative;
}

#form-1 input {
    width: 86%;
    margin: auto;
    outline: none;
    display: block;
    height: 3rem;
    font-size: 17px;
    outline: none;
    border: none;
    background: #f1f1f1;
    padding-left: 11px;
    color: #0062d1;
    border-radius: 3px;
}

.login-img {
    max-width: 100%;
    text-align: center;
}

.login h2,
p,
div {
    text-align: center;
}

.login h2 {
    margin-bottom: 8px;
}

.login-img img {
    width: 90%;
}

.show-off {
    margin-bottom: 40px;
    transform: translate(-29px, 0px);
}

.forgot-password {
    text-align: end;
    margin: 0px 1rem 1rem 0;
    color: #0062d1;
    font-size: 13px;
    cursor: pointer;
}

.btn button {
    display: block;
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    border-radius: 5px;
    background: transparent;
    background: linear-gradient(90deg, #95befe, #0062d1);
    color: white;
}

.google button {
    background: linear-gradient(90deg, #ffaab3, #d24b59);
}

#form-1 input:hover {
    box-shadow: 0px 0px 2px 2px #f1f1f1;
}

.page_load_slider {
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    width: 100%;
    transition: all 0.5s;
}

.error {
    position: absolute;
    width: 90%;
    padding: 10px;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 10px);
    /* margin: 10px auto; */
    background-color: rgb(222, 101, 77);
    border-radius: 5px;
    color: white;
    display: none;
    z-index: 1;
}

.error button,
.success button {
    float: right;
    width: 25px;
    background: transparent;
    border: none;
    color: white;
    /* font-size: 20px; */
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.success {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    background-color: rgb(75, 204, 70);
    border-radius: 5px;
    color: white;
}

.rotateMe {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


#passwordVisiblity {
    position: absolute;
    right: 10%;
    transform: translate(0, -36px);
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

.funCar {
    width: 80%;
    margin: auto;
    transform: translate(0px, 20px);
    text-align: left;
}

.car {
    color: #76aed5;
    font-size: 15px; 
    position: relative;
}