<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanjeevni School</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="manifest" href="manifest/manifest.json">
    <link href="html/noInternet.html">
</head>

<body> 
    <div class="page_load_slider"></div>
    <div class="main">
        <div class="skip">
            <button onclick="skipToFinal()">Skip >></button>
        </div>
        <div class="slider">
            <div class="paperPrev">

            </div>
            <div class="slides">
                <div class="heroImage">
                    <img src="img/hero.jpg" alt="hero2">
                </div>
                <div class="heroContent">
                    <p>Welcome To School</p> 
                </div>
            </div>
            <div class="paperNext">

            </div>
        </div>
        <div class="static_content">
            <div class="sliderdot">
                <div class="mainSlider">
                    <div class="dots"></div>
                    <div class="dots"></div>
                    <div class="dots"></div>
                    <div class="dots"></div>
                </div>
            </div>
            <div class="btn">
                <button onClick="nextSlide()" class="NextBtn">Next </button>
                <button onClick="backSlide()" class="BackBtn">Back </button>
            </div>
        </div>
    </div>
    <script src="js/common.js"></script>
    <script src="js/base.js"></script>
</body>

</html>