<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebooks
    </title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/student/attandance.css">
    <link rel="stylesheet" href="/css/gallary.css">
    <link rel="stylesheet" href="/css/popup.css">
    <script rel=preconnect src="https://kit.fontawesome.com/c538c9717e.js" crossorigin="anonymous"></script>
    <script rel=preconnect src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
    <input type="text" id="userId" hidden value="<%=data._id%>">
    <div class="main">
        <div class="view">
            <div class="header">
                <span class="pageTitle">Gallary</span>
                <div class="rightHeader">
                    <span>
                        <i onclick="history.back()" class="fas fa-arrow-left"></i>
                    </span>
                </div>
                <div class="leftHeader">
                    <div onclick="openUserProfile()">
                        <%if(data.profile){%>
                            <img src="<%=data.profile%>" alt="">
                            <%}else{%>
                                <img src="/img/nouser.png" alt="">
                                <%}%>
                    </div>
                    </p>
                </div>
            </div>
            <div class="abs" id="mainGallary">
            </div>
            <div id="refrence">
                <div class="gallaryFrame">
                    <span style="width: 100px;" class="animated-background">
                        <div style="height: 15px;" class="text"></div>
                    </span>
                    <span class="animated-background">
                        <div class="mainPhoto">
                            
                        </div>
                    </span>
                    <div class="imagesScroller" style="display: flex;
    justify-content: space-around;">
                        <span style="width: 48%;" class="animated-background">
                            <div>
                            </div>
                        </span>
                        <span style="width: 48%;" class="animated-background">
                            <div>
                            </div>
                        </span>
                    </div> 
                </div> 
            </div>

        </div>
    </div>
    <div id="popup" class="popup">

    </div>
    <script src="/js/common.js"></script>
    <script src="/js/gallary.js"></script>
</body>

</html>