body {
    background: rgb(247, 247, 247);
}

.main {
    width: 100%;
}

.view {
    max-width: 400px;
    margin: auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header p {
    font-size: 20px;
}

.header button {
    background-color: rgb(240, 121, 121);
    color: white;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 400;
    border: none;
    outline: none;
    padding: 10px;
}

.classes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.class {
    background: white;
    width: 120px;
    height: max-content;
    padding: 10px 3px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgb(241, 241, 241);
    text-align: center;
    margin: 20px 5px;
    cursor: pointer;
}

.teacherClass {
    width: 90%;
}

.classImg {
    height: 80%;
    padding: 10px 0;
}

.classImg div {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
    margin: auto;
    overflow: hidden;
}

.classImg div img {
    width: 100%;
    height: 100%;
}

.class p {
    font-size: 12px;
}

.addClass {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.addClass button {
    width: 80%;
    height: 45px;
    border: none;
    outline: none;
    color: white;
    background: #a5a5ff;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}


.topbar-search {
    width: 50%;
    height: 24px;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.topbar-search .search-icon {
    margin: 0 10px;
}

.topbar-search input {
    border: 0;
    background-color: whitesmoke;
    width: 70%;
    color: black;
}

.topbar-search input:focus {
    outline: none;
}

.topbar-right {
    flex: 0.1;
    display: flex;
    justify-content: flex-end;
}

.line-container {
    margin-right: 20px;
    width: 24px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: transform 1s ease, opacity 0.5s ease;
    transform-origin: left;
}

.menu {
    width: 200px;
    height: calc(100% - 77px);
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 77px;
    left: -250px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    transition: all 1s ease;
    z-index: 100000;
}

.menu-top {
    flex: 0.1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-search {
    width: 100%;
    height: 30px;
    background-color: #a5a5ff;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search-icon {
    color: gray;
}

.menu-search input {
    width: 75%;
    border: none;
    background-color: lightgray;
    color: black;
}

.menu-search input:focus {
    outline: none;
}

.menu-center {
    font-size: 12px;
    flex: 0.8;
}

.menu-item {
    margin-top: 20px;
    cursor: pointer;
}

.menu-item span {
    margin-left: 10px;
}

.menu-bottom {
    flex: 0.1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-bottom-user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-bottom-user span {
    font-size: 14px;
}

.menu img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.menu.active {
    transform: translateX(250px);
}

.line-container.active .line-1 {
    transform: rotate(45deg);
}

.line-container.active .line-2 {
    opacity: 0;
}

.line-container.active .line-3 {
    transform: rotate(-45deg);
}

.rotateMe {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.popup-form,
.loading_div {
    background: white;
    top: 50%;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}


#department {
    margin-bottom: 20px;
}


.helloTeacher {
    display: flex;
    align-items: center;
}

.helloTeacher .classImg {
    flex: 4;
}

.helloTeacher .info {
    flex: 6;
}

.helloTeacher p1,
.helloTeacher p2,
.helloTeacher p3 {
    font-size: 12px;
    display: block;
    margin: 5px 0;
}

.helloTeacher p {
    font-size: 15px;
    font-weight: bold;

}

#demoImgs {
    width: max-content !important;
    height: 120px !important;
    margin: auto !important;
    border-radius: 5px !important;
    overflow-x: auto !important;
}

#demoImgs img {
    width: 120px !important;
    height: 100% !important;
    white-space: nowrap !important;
    margin: 0 2px !important;
}

#Announcetext {
    width: 75%;
    background: #efefef;
    margin: auto;
    border-radius: 5px;
    height: auto;
    /* min-height: 40px; */
    font-size: 15px;
    padding: 10px;
    color: gray;
    outline: none;
    text-align: left;
    max-height: 120px;
    overflow: auto;
}

#Announcetext:focus {
    min-height: 60px;
    font-size: 15px;
}

#refrence {
    width: 100%;
    min-height: 100px;
    /* text-align: center; */
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

.mainHome {
    width: 92%;
    background: white;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 10px 2px #e2e2e2;
}

.homeHead {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 10px;
}

.homeHead i {
    margin-right: 5px;
    font-size: 17px;
    color: #46b5d5;
}

.studentCount {
    height: 60px;
    display: flex;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px;
    font-size: 15px;
    padding: 10px;
    background: linear-gradient(66deg, #aaece9, #fcd9e5);
    align-items: center;
}

.studentsDetails {
    margin: 10px;
    border: 1px solid #c7c7c7;
    /* padding: 10px; */
    border-radius: 5px;
}

.sdRow {
    display: flex;
}


.sdItem {
    flex: 5;
    padding: 10px;
    display: flex;
    align-items: center;
}

.sdicon {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 7px;

}

.sdicon img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sdData {
    font-weight: bold;
}

.sdData small {
    font-size: 10px;
}

.sdData p {
    font-size: 15px;
}

.sdData span {
    color: #69c9f3;
}

.studentGraph {
    margin: 10px
}

.studentGraph p1 {
    font-size: 14px;
}

.studentGraph p1 small {
    display: block;
    font-size: 10px;
    color: gray;
}

.studentMainGraph {
    height: 350px;
}

.searchData {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.searchData input {
    width: 75%;
    height: 30px;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}
 

.searchData button {
    height: 28px;
    padding: 5px;
    font-size: 15px;
    width: 20%;
    border: none;
    background: linear-gradient(45deg, #abece9, #f7dae5);
    outline: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}